# OSX
#
.DS_Store

.env
.env.development
.env.production
.env.rc

ios/tmp.xcconfig
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
/android/gradle.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
/fastlane/appconnect-api-key.p8

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

# Added for Sensitive Data
android/keystore.properties
android/app/debug.keystore
android/app/google-services.json
android/app/src/dev/google-services.json
android/app/src/debug/google-services.json
android/app/src/prod/google-services.json
android/app/src/release/google-services.json
android/app/keystore.properties

*.bak
android/debug.keystore

# Jest testing
coverage

# ESLint
.eslintcache
