<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Helio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.bettersocial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>helio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.bettersocial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>humanid-owmtsyg2zjbfvs5u</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://link.bettersocial.org</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>yandexmail</string>
		<string>fastmail</string>
		<string>protonmail</string>
		<string>szn-email</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Helio uses your device's camera to help you take photos and record videos to post, send in chats, or otherwise share with other users.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Requires user location for better experience</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Helio uses your camera roll to help you share photos and videos to post, send in chats, or otherwise share with other users.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Helio uses your camera roll to help you share photos and videos to post, send in chats, or otherwise share with other users.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Regular.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Inter.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_hEiUNqWPZ69QIT7CMR1BdpomDvpgE8Hn</string>
		<key>test</key>
		<string>key_test_hDdOMB6K687PSG4BVU8CjppgtAmeCYz5</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>m.helio.social</string>
		<string>x8ved-alternate.app.link</string>
	</array>
</dict>
</plist>
