<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70467963537-3ksj3ll9t9l5tunrh6anbblbakk1ivkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70467963537-3ksj3ll9t9l5tunrh6anbblbakk1ivkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>70467963537-1bb38obin95nebi295pvivg3afu3gi25.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw6H5Tyud_IgN5XMwaKMDF6mT2T-sy6zU</string>
	<key>GCM_SENDER_ID</key>
	<string>70467963537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BetterSocial</string>
	<key>PROJECT_ID</key>
	<string>bettersocial-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bettersocial-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70467963537:ios:75b199d2e21a1e84c64d30</string>
</dict>
</plist>